$color_1: #c54914;
$color_2: #c8b492;
$color_3: #9bb3c3;
$color_4: #799bb7;
$color_5: #6286a3;
$color_6: #72747a;
$color_7: #947a78;
$color_8: #4f5562;
$color_9: #6d4f4f;
$color_10: #261e24;
$color_11: #dad1c9;
$color_11_shade: #fcf6ee;

.footer {
    width: 100%;
    height: auto;
    background-color: #111;
    padding: 1rem 2rem;
    padding: 2rem;
    box-sizing: border-box;

    @media (max-width: 500px) {
        padding: 0.5rem 1rem;
        padding-bottom: 1rem;

    }

    .footer_container {
        width: 100%;
        height: 4rem;
        background-color: #222;
        border-radius: 20px;

        .footer_container_content {
            width: 100%;
            height: 100%;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-family: 'GeistMono';
                font-size: clamp(0.6rem, 0.5em, 1.2rem);
            }
        }
    }
}