.modal_window {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22222244;
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;

    .modal_window_span_open,
    .modal_window_span_close {
        width: auto;
        height: auto;
        margin: 0 auto;
        position: absolute;
        z-index: 101;
        color: #fff;
        padding: 0.5rem 1rem;
        transition: .1s all ease;
        background-color: #6286a3;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-family: 'SedgwickAve';
    }

    .modal_window_span_open {
        top: 0;
    }

    .modal_window_span_close {
        top: -100px;
    }

    .modal_window_block {
        width: fit-content;
        height: fit-content;
        background-color: #261e24;
        border-radius: 20px;
        padding: 2rem;
        box-sizing: border-box;

        .modal_window_block_container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .modal_window_header {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;

                h1 {
                    width: 100%;
                    font-family: 'PitagonSansMono';
                    font-size: clamp(1.5rem, 1.5em, 2rem);
                    color: #fcf6ee;
                }

                .modal_wimdow_close_btn {
                    color: #fff;
                    cursor: pointer;
                    transform: scale(2);
                }
            }

            .modal_window_block_content {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h2 {
                    width: fit-content;
                    font-family: 'PitagonSansMono';
                    font-size: 1.7em;
                    background-color: #9bb3c3;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    color: #111;
                }

                .modal_window_email_list,
                .modal_window_contacts_list {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: left;
                    flex-direction: column;
                    color: #fff;
                    gap: 0.2rem;

                    .modal_window_block_item {
                        width: fit-content;
                        height: fit-content;
                        color: #fcf6ee;
                        cursor: pointer;
                        background-color: #6d4f4f;
                        border-radius: 5px;

                        p {
                            padding: 0.5rem 1rem;
                            font-family: 'Antosha';
                            font-size: 1em;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }
                }
            }


        }
    }
}