@font-face {
    font-family: 'BebasNeue';
    src: url(./fonts/BebasNeue.ttf);
}

@font-face {
    font-family: 'PitagonSansMono';
    src: url(./fonts/PitagonSansMono-Medium.ttf);
}

@font-face {
    font-family: 'Antosha';
    src: url(./fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: 'SedgwickAve';
    src: url(./fonts/SedgwickAve-Regular.ttf);
}

@font-face {
    font-family: 'Modak';
    src: url(./fonts/Mix_Tumble.otf);
}

@font-face {
    font-family: 'GeistMono';
    src: url(./fonts/GeistMono-Regular.otf);
}