$color_1: #c54914;
$color_2: #c8b492;
$color_3: #9bb3c3;
$color_4: #799bb7;
$color_5: #6286a3;
$color_6: #72747a;
$color_7: #947a78;
$color_8: #4f5562;
$color_9: #6d4f4f;
$color_10: #261e24;
$color_11: #dad1c9;
$color_11_shade: #fcf6ee;

.services_block {
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: transparent;

    @media (max-width: 500px) {
        padding: 0.5rem 1rem;

    }

    .services_block_container {
        width: 100%;
        height: 100%;
        background-color: #222;
        border-radius: 20px;
        padding: 1rem;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @media (max-width: 1230px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 4fr;
        }

        @media (max-width: 700px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        .services_block_left,
        .services_block_right {
            width: 100%;
            height: 100%;
            padding: 1rem;
            box-sizing: border-box;
            background-color: transparent;
        }

        .services_block_left {
            display: grid;
            grid-template-rows: 0.5fr 1fr;
            gap: 1rem;

            .services_block_left_header {
                width: 100%;
                height: 100%;
                color: #fcf6ee;
                display: flex;
                flex-direction: column;
                align-items: center;

                .services_block_left_title {
                    width: 100%;
                    height: auto;

                    h1 {
                        font-family: 'Antosha';
                        text-transform: uppercase;
                        color: #fcf6ee;
                        font-size: clamp(1rem, 4em, 5rem);
                    }
                }

                .services_block_left_title_text {
                    width: 100%;
                    height: fit-content;

                    p {
                        font-family: 'PitagonSansMono';
                        font-size: clamp(0.9rem, 0.5em, 1.2rem);
                    }
                }
            }

            .services_block_left_bottom {
                width: 100%;
                height: 100%;

                .services_block_left_list {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                    box-sizing: border-box;

                    .services_block_left_item {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 1rem;
                        box-sizing: border-box;
                        background-color: #4f5562;
                        border-radius: 10px;
                        cursor: pointer;



                        p {
                            font-family: 'PitagonSansMono';
                            font-size: 1em;
                            color: #fcf6ee;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 0.4rem;
                            height: 0.4rem;
                            background-color: #fcf6ee;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .services_block_right {
            width: 100%;
            height: 100%;

            @media (max-width: 700px) {
                display: none;
            }

            .services_block_right_img_container {
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 1.5rem;

                @media (max-width: 1230px) {
                    // height: 200vh;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                }

                .services_block_right_img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
            }
        }
    }
}